.container {
  height: 100vh;
  margin-top: 20px;
}

h1 {
  text-align: center;
}

.p1,
.p2 {
  color: green;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

.hide {
  display: none;
}
